html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    link(type="text/css" rel="stylesheet" href="../public/styles/main.css")
  body
    p= title
    ul
        li Bootstrap tonto para las 4 cosas que hay aquí
        li Poder subir una mesh
        li Añadir/quitar capas con X meshes
        li Borrar una mesh
        li Cambiar el nombre de las capas
