html,body{
    margin:0;
    font-size:14px
}

/* DAT GUI */
.gui{
  position: fixed;
  width: 200px;
  top: 20px;
  right: 20px;
  margin-right: 0;
  padding: 15px 0;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);

  font-family: 'Raleway';
  font-weight: 300;
  font-size: 1rem;
  color: rgb(34, 34, 34);

  --gray: #dbdbdb4d;
  --sides_spacing: 20px;
}
.gui__separator{
  margin: 5px var(--sides_spacing);
  width: calc(100% - var(--sides_spacing) * 2);
  box-sizing: border-box;
  height: 2px;
  border-radius: 1px;
}
.gui__separator.gui__separator--line{
  background-color: var(--gray);
}
.gui__separator.gui__separator--space{
  
}
.gui__group__content{
  display: none;
  flex-direction: column;
}
.gui__group.gui__group--active .gui__group__content{
  display: flex;
}
.gui__group--dropdown.gui__group--active .gui__group__title{
  background: url('./icons/arrow_up.svg') no-repeat center right var(--sides_spacing)/10px
}
.gui__group--dropdown .gui__group__title{
  background: url('./icons/arrow_down.svg') no-repeat center right var(--sides_spacing)/10px
}
.gui__group__title{
  display: flex;
  font-weight: 600;
  padding: 10px var(--sides_spacing);
  box-sizing: border-box;
}
.gui__element{
  display: flex;
  padding: 10px var(--sides_spacing);
  box-sizing: border-box;
  cursor: pointer;
}
.gui__element__info{
  margin-left: auto;
}