html,body{
    margin:0;
    font-size:14px
}
p{
  margin: 0;
}

:root{
  --steam: #bfc1c4;
  --gray: #dbdbdb4d;
  --black: #272727;

  --green: #91d197;
  --red: #f0a1a1;
}

button{
  background-color: var(--steam);
  padding: 10px;
  border-radius: 5px;
  min-width: 60px;
  text-align: center;
  cursor: pointer;
  border: none;
}
button:focus{
  outline:0
}
.button--green{ background-color: var(--green) }
.button--red{ background-color: var(--red) }

.modal input{
  padding: 10px;
  border: 1px solid var(--black);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 100px;
  min-height: 100px;
  max-width: 350px;
  max-height: 900px;
  overflow-y: auto;
  padding: 25px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  box-sizing: border-box;
}
.modal__background{
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: var(--black);
  opacity: 0.6;
}
.modal__buttons{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
}